<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <form id="st-security-code" class="security-code">
      <label for="security-code" class="security-code__label">
        Security code:
      </label>
      <div class="security-code__group">
        <input
          type="text"
          id="security-code"
          name="security-code"
          class="security-code__input"
          value=""
          required
        />
        <div class="security-code__validation" id="security-code-error"></div>
      </div>
      <button
        type="submit"
        id="security-code-submit"
        class="security-code__submit"
      >
        Pay
      </button>
    </form>
  </body>
</html>
