{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules": "cjs",
        "targets": ["> 0.2% and last 2 versions", "not dead", "IE 10"]
      }
    ]
  ]
}
