{
  "jwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhbTAzMTAuYXV0b2FwaSIsImlhdCI6MTU3Nzk2ODQwMC4wODgzNDg2LCJwYXlsb2FkIjp7Im1haW5hbW91bnQiOiIxMC4wMCIsImFjY291bnR0eXBlZGVzY3JpcHRpb24iOiJFQ09NIiwiY3VycmVuY3lpc28zYSI6IkdCUCIsInNpdGVyZWZlcmVuY2UiOiJ0ZXN0X2phbWVzMzg2NDEiLCJsb2NhbGUiOiJlbl9HQiJ9fQ.TIEvASL1KHqYlQ0j_kadK0x9JFXlZ13W8jEyEEMQQWo",
  "visaCheckout": {
    "merchantId": "DUT1MEXJO10RARJF2S521ImTyKfn3_JmxePdXcydQIUb4kx4"
  },
  "applePay": {
    "merchantId": "merchant.net.securetrading.test"
  }
}
