@import '../../../styles/variables';
@import '../../../styles/placeholders';
@import '../../../styles/core';

body {
  @extend %frame-body;
}

.st-expiration-date {
  @extend %block;

  &__label {
    @extend %label;
  }

  &__label--required {
    @extend %label--required;
  }

  &__input {
    @extend %input;
  }

  &__message {
    @extend %message;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center
  }
}
