html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $color-body;

  /* prettier-ignore */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.error-field {
  background-color: #f8d7da;
  color: #721c24;
  border-color: $border-color-notification-error;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

.error-label {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #ff4545;
}

@-webkit-keyframes autofill {
  to {
    background-color: #f8d7da;
    color: #721c24;
    border-color: $border-color-notification-error;
  }
}

input:-webkit-autofill.error-field {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.st-button-submit__disabled {
  opacity: .5;
  cursor: not-allowed;

  &:hover {
    background: transparent;
  }
}

.st-input {
  &--disabled {
    opacity: .5;
    cursor: not-allowed;
    background: transparent;
  }
}

.st-card-icon {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
}

.st-card-number {
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-right: 10px;
  }

  &--lined-up {
    display: flex;
    justify-content: center;
  }
}

.card-number {
  &__label.lined-up {
    max-width: 100px;
    width: 100%;
    word-wrap: break-word;
    text-align: right;
  }
}

.expiration-date {
  &__label.lined-up {
    max-width: 100px;
    width: 100%;
    word-wrap: break-word;
    text-align: right;
  }
}

.security-code {
  &__label.lined-up {
    max-width: 100px;
    width: 100%;
    word-wrap: break-word;
    text-align: right;
  }
}

.st-expiration-date {
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-right: 10px;
  }

  &--lined-up {
    display: flex;
    justify-content: center;
  }
}

.st-security-code {
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-right: 10px;
  }

  &--lined-up {
    display: flex;
    justify-content: center;
  }
}
