$display-label: inline-block;

$font-size-body: 1.6rem;
$font-size-input: 1.5rem;
$font-size-label: 1.2rem;
$font-size-message: 1.3rem;
$font-size-notification: 1.3rem;
$font-size-button: 1.5rem;

$line-height-body: 1.6rem;
$line-height-input: $line-height-body;
$line-height-label: $line-height-body;
$line-height-message: $line-height-body;
$line-height-notification: $line-height-body;
$line-height-button: $line-height-body;

$color-body: #333;
$color-notification: #fff;
$color-error: #ff4545;
$color-cancel: #ffc23a;
$color-success: #01cb4d;
$color-info: #6d6d6d;
$color-placeholder: #b6b6b6;

$color-input: $color-body;
$color-input-error: $color-body;
$color-input-placeholder: $color-placeholder;
$color-input-readonly: $color-placeholder;
$color-label: $color-body;
$color-label-readonly: $color-placeholder;
$color-message: $color-error;
$color-notification-error: $color-notification;
$color-notification-cancel: $color-notification;
$color-notification-success: $color-notification;
$color-notification-info: $color-notification;
$color-button: $color-body;

$background-color-input-error: #fff5f5;
$background-color-notification-error: $color-error;
$background-color-notification-cancel: $color-cancel;
$background-color-notification-success: $color-success;
$background-color-notification-info: $color-info;
$background-color-button: #fff;
$background-color-button-hover: #f1f1f1;

$border-size-input: 0.1rem;
$border-size-notification: 0.1rem;
$border-size-button: 0.1rem;

$border-color-input: #6d6d6d;
$border-color-input-error: $color-error;
$border-color-input-readonly: $color-placeholder;
$border-color-notification-error: $color-error;
$border-color-notification-w: $color-cancel;
$border-color-notification-success: $color-success;
$border-color-notification-info: $color-info;
$border-color-button: #6d6d6d;

$border-radius-input: 0.4rem;
$border-radius-notification: 0.4rem;
$border-radius-button: 0.4rem;

$space-xs: 0.4rem;
$space-s: 0.8rem;
$space-m: 1.2rem;
$space-l: 1.6rem;

$space-inset-input: ($space-m - $border-size-input) $space-s;
$space-inset-notification: ($space-m - $border-size-input) $space-s ($space-m + $border-size-input);
$space-inset-button: ($space-m - $border-size-button) ($space-l - $border-size-button);

$space-outset-input: 0 0 ($space-xs);
$space-outset-label: 0 0 $space-xs;
$space-outset-message: $space-xs 0 0;
