.security-code {
  &__input {
    border: none;
    border-bottom: 0.1rem solid #32325d;
    height: 3.5rem;
    color: #32325d;
    padding-left: 2.5rem;

    &:focus {
      outline: none;
    }
  }

  &__group {
    position: relative;
  }

  &__logo {
    position: absolute;
    top: 33%;

    img {
      max-width: 2rem;
    }
  }

  &__submit {
    opacity: 0;
  }
}
