<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <form id="st-expiration-date">
      <label class="expiration-date__label" for="expiration-date">
        Expiration date:
      </label>
      <div class="expiration-date__group">
        <input type="text" id="expiration-date" class="expiration-date__input" placeholder="MM/YY" required />
        <div class="expiration-date__validation" id="expiration-date-error"></div>
      </div>
      <button type="submit" id="expiration-date-submit" class="expiration-date__submit">
        Pay
      </button>
    </form>
  </body>
</html>
