<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <form id="st-expiration-date">
      <label class="expiration-date__label">
        Expiration date:
      </label>
      <div class="expiration-date__group">
        <select
          id="expiration-date-month"
          name="expiration-date-month"
          class="expiration-date__input"
          required
        >
          <option>MM</option>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
        <span>/</span>
        <select
          id="expiration-date-year"
          name="expiration-date-year"
          class="expiration-date__input"
          required
        >
          <option selected>YY</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
        </select>
      </div>
      <div class="expiration-date__validation" id="received-message"></div>
      <button
        type="submit"
        id="expiration-date-submit"
        class="expiration-date__submit"
      >
        Pay
      </button>
    </form>
  </body>
</html>
