@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 62.5%;
}

.st-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

  &__received-message {
    color: red;
  }

  .st-card-number,
  .st-expiration-date,
  .st-security-code {
    width: 100%;
  }

  &__submit {
    background-color: #e71b5a;
    color: #fff;
    background-image: none;
    border: none;
    border-radius: 0.7rem;
    padding: 0.8rem 1.2rem;
  }
}
