@import 'variables';
@import 'placeholders';
@import 'core';


body {
  padding: 4rem 2rem;
}

.st-form {
  max-width: 80rem;
  margin: 0 auto;
}

.st-form__title {
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 0.1rem solid $color-placeholder;
  padding: 0 0 $space-m;
  margin: 0 0 $space-m * 3;

  span {
    float: right;
    font-size: 1.2rem;
    color: $color-placeholder;
    text-transform: uppercase;
    margin: 0.2rem 0 0;
  }

  strong {
    color: $color-body;
  }
}

.st-form__section--horizontal {
  display: flex;
  justify-content: space-between;

  .st-form__group {
    flex: 1;
    margin: 0 0 0 $space-l;

    &:first-child {
      margin-left: 0;
    }
  }
}

.st-form__group {
  margin: 0 0 $space-xs;

  &--submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.st-form__spacer {
  height: $space-l * 2;
}

.st-form__label {
  @extend %label;
}

.st-form__label--required {
  @extend %label--required;
}

.st-form__input {
  @extend %input;
}

.st-form__message {
  @extend %message;
}

.st-form__button {
  @extend %button;
}
