<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <form id="st-credit-card-number" class="credit-card-number">
      <label for="credit-card-number" class="credit-card-number__label">
        Card number:
      </label>
      <input
        type="text"
        id="credit-card-number"
        name="credit-card-number"
        class="credit-card-number__input"
        placeholder="XXXX XXXX XXXX XXXX"
        value=""
        required
      />
      <img
        src="https://image.flaticon.com/icons/svg/138/138286.svg"
        id="credit-card-logo"
        class="credit-card-number__logo"
      />
      <p id="received-message"></p>
      <button
        type="submit"
        id="credit-card-number-submit"
        class="credit-card-number__submit"
      >
        Pay
      </button>
    </form>
  </body>
</html>
