.credit-card-number {
  &__group {
    position: relative;
  }

  &__label {
  }

  &__input {
    padding-left: 44px;
  }

  &__logo {
    max-width: 30px;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  &__submit {
  }
}
