.apple-pay-set-up-button {
  display: inline-block;
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: set-up;
}

.apple-pay-set-up-button-black {
  -apple-pay-button-style: black;
}

.apple-pay-set-up-button-white {
  -apple-pay-button-style: white;
}

.apple-pay-setup-button-white-with-line {
  -apple-pay-button-style: white-outline;
}
