html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $color-body;

  /* prettier-ignore */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

iframe#animatedCard {
  width: 100%;
  height: 100%;
  border: 0;
}

#animated-card-container {
  width: 42rem;
  height: 26.73rem;
  display: flex;
  align-content: center;
  align-items: center;
}
