html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $color-body;

  /* prettier-ignore */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.error-input {
  background-color: $background-color-notification-error;
  border-color: $border-color-notification-error;
  color: $color-notification-error;
}

.st-button-submit__disabled {
  opacity: .5;
  cursor: not-allowed;

  &:hover {
    background: transparent;
  }
}

//.st-spinner {
//  &__rolling {
//    position: relative;
//    width: 3rem !important;
//    height: 3rem !important;
//    -webkit-transform: translate(-1rem, -1rem) scale(0.15) translate(1rem, 1rem);
//    transform: translate(-1rem, -1rem) scale(0.15) translate(1rem, 1rem);
//
//    div,
//    div:after {
//      position: absolute;
//      width: 10rem;
//      height: 10rem;
//      border: 1rem solid #1d0e0b;
//      border-top-color: transparent;
//      border-radius: 50%;
//    }
//
//    div {
//      -webkit-animation: spin-me-round 1s linear infinite;
//      animation: spin-me-round 1s linear infinite;
//      top: 10rem;
//      left: 10rem;
//    }
//
//    div:after {
//      -webkit-transform: rotate(90deg);
//      transform: rotate(90deg);
//    }
//  }
//
//}
//
//@keyframes spin-me-round {
//  0% {
//    -webkit-transform: translate(-50%, -50%) rotate(0deg);
//    transform: translate(-50%, -50%) rotate(0deg);
//  }
//
//  100% {
//    -webkit-transform: translate(-50%, -50%) rotate(360deg);
//    transform: translate(-50%, -50%) rotate(360deg);
//  }
//}
//
//@-webkit-keyframes spin-me-round {
//  0% {
//    -webkit-transform: translate(-50%, -50%) rotate(0deg);
//    transform: translate(-50%, -50%) rotate(0deg);
//  }
//
//  100% {
//    -webkit-transform: translate(-50%, -50%) rotate(360deg);
//    transform: translate(-50%, -50%) rotate(360deg);
//  }
//}
