@import 'variables';

%label {
  display: $display-label; // @param
  font-size: $font-size-label; // @param
  line-height: $line-height-label; // @param
  color: $color-label; // @param
  margin: $space-outset-label; // @param
}

%label--required {
  position: relative;

  &:after {
    content: '*';
    display: inline;
    position: absolute;
    top: 0;
    right: -$space-m;
    font-size: 1.5em;
    font-weight: bold;
    color: $color-error;
  }
}

%input {
  box-sizing: border-box;
  width: 100%;
  font-size: $font-size-input; // @param
  line-height: $line-height-input; // @param
  color: $color-input; // @param
  border: $border-size-input solid $border-color-input; // @param
  border-radius: $border-radius-input; // @param
  padding: $space-inset-input; // @param
  margin: $space-outset-input; // @param

  &::placeholder {
    color: $color-input-placeholder;
  }
}

%input--error {
  border-color: $color-error; // @param
  background-color: $background-color-input-error; // @param
}

%message {
  font-size: $font-size-message; // @param
  line-height: $line-height-message; // @param
  margin: $space-outset-message; // @param
}

%message--error {
  color: $color-error; // @param
}
