$display-label: inline-block;

$font-size-body: 1.6rem;
$font-size-input: 1.5rem;
$font-size-label: 1.2rem;
$font-size-message: 1.3rem;

$line-height-body: 1.6rem;
$line-height-input: $line-height-body;
$line-height-label: $line-height-body;
$line-height-message: $line-height-body;

$color-body: #333;
$color-input: $color-body;
//$color-input-disabled: #000;
$color-input-placeholder: #b6b6b6;
$color-label: $color-body;
$color-error: #ff4545;

//$background-color-input: #000;
$background-color-input-error: #fff5f5;

$border-size-input: 0.1rem;

$border-color-input: #6d6d6d;
//$border-color-input-disabled: #000;
//$border-color-input-error: #000;
//$border-color-input-hover: #000;

$border-radius-input: 0.4rem;

$space-xs: 0.4rem;
$space-s: 0.8rem;
$space-m: 1.2rem;
//$space-l: 3.2rem;
//$space-xl: 6.4rem;

$space-inset-input: ($space-m - $border-size-input) $space-s;

$space-outset-input: 0;
$space-outset-label: 0 0 $space-xs;
$space-outset-message: $space-xs 0 0;
