<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script async src="./server.bundle.js"></script>
  </head>
  <body>
    <form id="st-expiration-date">
      <label for="expiration-date" class="expiration-date__label">
        Expiration date:
      </label>
      <input
        type="text"
        id="expiration-date"
        name="expiration-date"
        class="expiration-date__input"
        placeholder="XX/XX"
        value=""
        required
      />
      <p id="received-message"></p>
      <button
        type="submit"
        id="expiration-date-submit"
        class="expiration-date__submit"
        style="opacity: 0;"
      >
        Pay
      </button>
    </form>
  </body>
</html>
