$amex-background-color-1: #3ca2b7;
$amex-background-color-2: #16343c;

$astropay-background-color-1: #333;
$astropay-background-color-2: #000;

$default-background-color-1: #c1c1c1;
$default-background-color-2: #6c6c6c;

$diners-background-color-1: #2b5b8f;
$diners-background-color-2: #0d1a51;

$discover-background-color-1: #2b5b8f;
$discover-background-color-2: #0d1a51;

$jcb-background-color-1: #3c62b7;
$jcb-background-color-2: #1c3380;

$maestro-background-color-1: #3c62b7;
$maestro-background-color-2: #1c3380;

$mastercard-background-color-1: #333;
$mastercard-background-color-2: #000;

$piba-background-color-1: #461259;
$piba-background-color-2: #6b2c6f;

$visa-background-color-1: #3c62b7;
$visa-background-color-2: #1c3380;
$visa-font-color: #cdcdcd;
$visa-font-color-2: #333;

$security-code-field-color: #fff;
$signature-field-color: rgba(0, 0, 0, 0.25);

$amex-gradient: radial-gradient(circle, $amex-background-color-1 0%, $amex-background-color-2 100%);
$astro-pay-gradient: radial-gradient(circle, $astropay-background-color-1 0%, $astropay-background-color-2 100%);
$default-gradient: radial-gradient(circle, $default-background-color-1 0%, $default-background-color-2 100%);
$diners-gradient: radial-gradient(circle, $diners-background-color-1 0%, $diners-background-color-2 100%);
$discover-gradient: radial-gradient(circle, $discover-background-color-1 0%, $discover-background-color-2 100%);
$jcb-gradient: radial-gradient(circle, $jcb-background-color-1 0%, $jcb-background-color-2 100%);
$maestro-gradient: radial-gradient(circle, $maestro-background-color-1 0%, $maestro-background-color-2 100%);
$master-card-gradient: radial-gradient(circle, $mastercard-background-color-1 0%, $mastercard-background-color-2 100%);
$piba-gradient: radial-gradient(circle, $piba-background-color-1 0%, $piba-background-color-2 100%);
$visa-gradient: radial-gradient(circle, $visa-background-color-1 0%, $visa-background-color-2 100%);

$before-after-oval-gradient: linear-gradient(180deg, #333 0%, #222 100%);

$card-data-font: 'Courier New', Courier, monospace;
$card-font: Helvetica, sans-serif;

$card-label-font-color: #bababa;
$card-value-font-color: #cdcdcd;

$card-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.24);

$card-label-font-size: 1rem;
$card-value-font-size: 2rem;

@mixin flipY($deg) {
  transform: rotateY($deg);
  transition: 1.2s ease-in-out transform;
}

@mixin centerLogo($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}
