.st-animated-card {
  display: flex;
  height: 160px;
  width: 235px;

  &__front {
    &__chip-logo {
    }

    &__payment-logo {
    }

    &__pan {
    }

    &__expiration-date {
    }

    &__name {
    }

    &__security-code {
    }
  }

  &__back {
  }
}
