<div class="st-animated-card" id="st-animated-card">
  <div class="st-animated-card__front">
    <img src="" alt="Chip logo" class="st-animated-card__front__chip-logo" id="st-chip-logo" />
    <img src="" alt="Payment logo" class="st-animated-card__front__payment-logo" id="st-payment-logo" />
    <div class="st-animated-card__front__pan"></div>
    <div class="st-animated-card__front__expiration-date"></div>
    <div class="st-animated-card__front__name"></div>
    <div class="st-animated-card__front__security-code"></div>
  </div>
  <div class="st-animated-card__back">
    <div class="st-animated-card__back__track2"></div>
    <div class="st-animated-card__back__signature"></div>
    <div class="st-animated-card__back__security-code"></div>
  </div>
</div>
