<div class="st-animated-card" id="st-animated-card">
  <div class="st-animated-card__side st-animated-card__front">
    <div class="st-animated-card__logos">
      <div class="st-animated-card__chip-logo">
        <img src="" alt="Chip logo" id="st-chip-logo" />
      </div>
      <div class="st-animated-card__payment-logo">
        <img src="" alt="Payment logo" id="st-payment-logo" />
      </div>
    </div>
    <div class="st-animated-card__pan">
      <label class="st-animated-card__label">Card number</label>
      <div class="st-animated-card__value">4111 1111 1111 1111</div>
    </div>
    <div class="st-animated-card__expiration-date">
      <label class="st-animated-card__label">Expiration date</label>
      <div class="st-animated-card__value">12/24</div>
    </div>
  </div>

  <div class="st-animated-card__side st-animated-card__back">
    <div class="st-animated-card__signature"></div>
    <div class="st-animated-card__security-code"></div>
  </div>
</div>
