@import './variables.scss';

html,
body {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.st-animated-card {
  width: 100%;
  perspective: 60rem;
  overflow: hidden;

  &:hover &__content,
  &.hover &__content {
    @include flipY(-180deg);
  }

  &__content,
  &__front,
  &__back {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    background: $visa-gradient;
    backface-visibility: hidden;
    border-radius: 1.5rem;
    box-shadow: $card-box-shadow;
    box-sizing: border-box;
    z-index: 2;
    padding: 1.5rem 2.5rem;
  }

  &__amex {
    background: $amex-gradient;
  }

  &__astropaycard {
    background: $astro-pay-gradient;
  }

  &__diners {
    background: $diners-gradient;
  }

  &__discover {
    background: $discover-gradient;
  }

  &__jcb {
    background: $jcb-gradient;
  }

  &__laser {
    background: $laser-gradient;
  }

  &__maestro {
    background: $maestro-gradient;
  }

  &__mastercard {
    background: $master-card-gradient;
  }

  &__piba {
    background: $piba-gradient;
  }

  &__visa {
    background: $visa-gradient;
  }

  &__front {
    @include flipY(0deg);

    &::after,
    &::before {
      position: absolute;
      content: '';
      opacity: 0.1;
      background: $before-after-oval-gradient;
    }

    &::after {
      height: 18rem;
      width: 10rem;
      bottom: 0;
      left: 0;
      border-radius: 0 60rem 0 0;
    }

    &::before {
      height: 26rem;
      width: 55rem;
      border-radius: 165rem 0 0 0;
      left: 3rem;
      top: 6rem;
    }
  }

  &__back {
    @include flipY(180deg);
  }

  &__flip-card {
    @include flipY(-180deg);
  }

  &__content {
    position: relative;
    transition: 1.2s;
    transform-style: preserve-3d;
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
  }

  &__chip-logo {
    align-self: center;
  }

  &__payment-logo {
    align-self: flex-start;
    height: 12rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 0 10rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__label {
    font-family: $card-font;
    font-size: $card-label-font-size;
    font-weight: bold;
    color: $card-label-font-color;
    text-transform: uppercase;
    line-height: 1.1rem;
  }

  &__value {
    font-family: $card-data-font;
    font-size: $card-value-font-size;
    font-weight: bold;
    color: $card-value-font-color;
    text-shadow: -0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    line-height: 2rem;
    margin-top: 0.75rem;
  }

  &__pan {
    margin-bottom: 1.25rem;
  }

  &__signature {
    height: 10rem;
    width: 100%;
    background-color: $signature-field-color;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  &__security-code {
    background-color: $security-code-field-color;
    height: 4rem;
    width: 23rem;
    font-family: $card-font;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
  }
}
