.notification-frame {
  border-radius: 0.4rem;
  color: #333;

  &--error {
    background-color: #fff5f5;
    border: 0.1rem solid #ff4545;
    color: red;
  }

  &--success {
    background-color: green;
    border: 0.1rem solid green;
    color: #fff;
  }

  &--cancel {
    background-color: yellow;
    border: 0.1rem solid yellow;
    color: #fff;
  }
}
