@import './../../core/styles/variables';

.notification-frame {
  border-radius: $border-radius-input;
  color: $background-color-button;
  visibility: hidden;

  &--error {
    background-color: $color-error;
    border: $border-size-input solid $color-error;
    visibility: visible;
  }

  &--success {
    background-color: $color-success;
    border: $border-size-input solid $color-success;
    visibility: visible;
  }

  &--warning {
    background-color: $color-warning;
    border: $border-size-input solid $color-warning;
    visibility: visible;
  }

  &--info {
    background-color: $background-color-button;
    border: $border-size-input solid $color-info;
    color: $color-info;
    visibility: visible;
  }
}
