.credit-card-number {
  &__input {
    border: none;
    border-bottom: 0.1rem solid #32325d;
    color: #32325d;
    height: 3.5rem;

    &:focus {
      outline: none;
    }
  }

  &__group {
    position: relative;
  }

  &__validation {
    color: #e71b5a;
    font-weight: bold;
  }

  &__submit {
    opacity: 0;
  }
}
